body {
    background-color: black;
    color: lawngreen;
    padding: 10px;
	font-family: courier;
	font-size:200%;
}
.skull{
	margin: auto;
	display:block;
	width:50%;
	height:100%;
}
.bottom {
	padding-left: 75%;
    position: fixed;
    bottom: 0;
	font-size:17px;
}